#
# Output generated via "pipdeptree -f > requirements.txt"
#
# Example setup using mkvirtualenv (part of py-virtualenvwrapper):
#
# mkvirtualenv -r <micronets-dhcp-project-dir>/requirements.txt -a <micronets-dhcp-project-dir> -p python3 micronets-dhcp
# workon -c micronets-dhcp
#
# Or installing using pip (e.g. into an existing env)
#
#  pip install -r requirements.txt 
# 
pipdeptree==0.13.2
  pip==19.3.1
Quart==0.6.15
  aiofiles==0.4.0
  blinker==1.4
  Click==7.0
  Hypercorn==0.5.4
    h11==0.9.0
    h2==3.1.1
      hpack==3.0.0
      hyperframe==5.2.0
    pytoml==0.1.21
    typing-extensions==3.7.4.1
    wsproto==0.15.0
      dataclasses==0.7
      h11==0.9.0
  itsdangerous==1.1.0
  Jinja2==2.10.3
    MarkupSafe==1.1.1
  multidict==4.7.1
  sortedcontainers==2.1.0
setuptools==65.5.1
wheel==0.33.6
